@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
body {
    color: blue;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
}

.main {
    justify-content: center;
}

h1{
    font-size: 40px;
    text-align: center;
}
.centered {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.battleground {
    width: 70vw;
    height: 68vh;
    margin: 0 auto;
    background-image: url('../media/battle_background.jpeg');
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.attackContainer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    font-size: 30px;
    width: 70vw;
}

.displayMessage {
    margin: 0 auto;
    font-size: 30px;
    height: 120px;
    text-align: center;
    color: blue
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}

.cpuRow {
    width: 100%;
    height: 100%;
    color: white;
    text-align: right;

}

.arenaRow {
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.playerRow {
    width: 100%;
    height: 100%;
    color: white;
    justify-content: left;
    align-items: flex-end;
}

.bottom {
    justify-content: flex-end;
}

.attack {
    border: ;
}